*{
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    background-color: #7563BD;
}
.forgotpsswrd{
    height: 600px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.forgottext{
    font-family: 'Gluten', sans-serif;
    font-size: 60px;
    color: #8991E4;
    text-align: center;
    margin-top: 80px;

}
.forgotpsswrd input{
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    height: 80px;
    margin-top: 40px;
    border-radius: 20px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-left: 40px;
    font-family: 'Faustina', sans-serif;
}

.B2loginbtn{
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    font-weight: bolder;
    height: 60px;
    width: 300px;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;

}
.resetbtn{
    border: 0;
    outline: 0;
    background-color: #8991E4;
    color: white;
    font-weight: bolder;
    height: 60px;
    width: 300px;
    border-radius: 40px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;
}
a{
    margin-left: auto;
    margin-right: auto;
}